<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {{ msg('wikisource') }}
        ({{ msg('all-validated-works') }})
    </title>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/foundation/5.4.7/css/foundation.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body><div class="container">

    <div class="row">
        <div class="large-12 columns">
            <h1>
                {{ msg('wikisource') }}
                <small>{{ msg('all-validated-works') }}</small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">

            <ul class="inline-list">
                <li>{{ msg('languages') }}</li>
                {% for l,info in site_info %}
                    <li>
                        {% if lang == l %}
                            <strong>{{ l }}</strong>
                        {% else %}
                            <a href="?lang={{ l }}">{{ l }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            {% if err is defined and err %}
                <p class="alert-box alert">{{ msg(err[0], err[1]) }}</p>
            {% endif %}

            <p>
                {{ msg('introduction', [
                    '<span id="total-works">x</span>',
                    '<a href="https://'~lang~'.wikisource.org/">'~lang~' Wikisource</a>'
                ])}}
            </p>
            <p class="loading">
                <img src="/img/loading.gif" /> {{ msg('loading') }}
            </p>
            <ol class="c hide" id="catlist"></ol>
            <p>
                This list was last updated at:
                <span id="last-mod">y</span> <a href="http://time.is/UTC">UTC</a>.
                The above data is available in
                <a href="works{{ suffix }}.json"><tt>works{{ suffix }}.json</tt></a>
                and <a href="categories{{ suffix }}.json"><tt>categories{{ suffix }}.json</tt></a>.
            </p>
            <p>
                If you don't see your language's Wikisource listed above,
                please make sure it is present as a sitelink on Wikidata for
                the <a href="https://www.wikidata.org/wiki/Q1281">root category (Q1281)</a> and
                the <a href="https://www.wikidata.org/wiki/Q15634466">category for validated indexes (Q15634466)</a>.
            </p>
            <p>
                For more information please see
                <a href="https://github.com/wikisource/ws-cat-browser">the code</a> on Github
                or contact <a href="https://meta.wikimedia.org/wiki/User:Samwilson">User:Samwilson</a>.
            </p>
        </div>
    </div>
</div><!-- .container -->

<div class="hide">
    <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/EPUB_silk_icon.svg/15px-EPUB_silk_icon.svg.png' />
</div>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/foundation/5.4.7/js/foundation.min.js"></script>
<script src="{{ '/scripts.js' }}"></script>
<script>
    var lang = '{{ lang }}';
</script>
</body>
</html>
